.navbars2 {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.NavMain {
  width: 100%;
  background-color: var(--Nav);
  display: flex;
  font-family: "grobold";
  justify-content: space-around;
  align-items: center;
}
.NavMain div {
  cursor: pointer;
}
.NavMain a {
  color: white;
  text-decoration: none;
}
body {
  background-color: rgb(189, 142, 150);
}
:root {
  --Nav: #8a2e48;
  --ser_bg: rgb(220, 238, 199);
  --ser_hover: rgb(221, 233, 54);
  --pic2: rgb(219, 248, 248);
  --rev: #faf49f;
  --rev_text: black;
  --car_pro_bg: rgb(238, 236, 236);
  --car_pro_hover: rgb(233, 215, 235);
  --cartBg: rgb(212, 161, 67);
  --btn_add: orangered;
  --loginBG: white;
  --wishbg: rgb(212, 161, 67);
  --invert: 0%;
  --empbg: rgb(189, 142, 150);
  --clrFil: #8a2e48;
}
.darktheme {
  background-color: black;
  color: white;
  --Nav: black;
  --ser_bg: black;
  --ser_hover: gray;
  --pic2: black;
  --rev: black;
  --rev_text: white;
  --car_pro_bg: black;
  --car_pro_hover: black;
  --cartBg: gray;
  --btn_add: black;
  --loginBG: gray;
  --wishbg: gray;
  --invert: 100%;
  --empbg: black;
  --clrFil: black;
}
.Divlogo {
  width: 10%;
  text-align: center;
}
.Divlogo h2 {
  color: #f0e7ea;
  font-family: "grobold";
  font-size: 28px;
  line-height: 1;
  text-shadow: none;
}
.DivSearch {
  width: 45%;
  border-radius: 5px;
  background-color: orangered;
}
.DivSearch input {
  width: 92%;
  padding: 0.6%;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.DivOthers {
  width: 45%;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.navbar2 {
  display: flex;
  font-family: "grobold";
  justify-content: space-around;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  background-color: var(--Nav);
}
.navbar2 a {
  color: white;
  text-decoration: none;
}
.navbar2 select {
  background-color: var(--Nav);
  color: white;
  border: none;
  cursor: pointer;
}
.navbar2 button {
  background-color: var(--clrFil);
  border: none;
  color: white;
}
#navbar2 {
  display: none;
}
.clearbtn button {
  background-color: var(--clrFil);
}
.paperNav {
  background-color: rgb(231, 171, 181);
  height: 100vh;
  text-align: center;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.paperNav select {
  margin-top: 8%;
  border: none;
  background-color: rgb(231, 171, 181);
}
.paperNav select:hover {
  border: 1px solid black;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .navbar2 {
    display: none;
  }
  #navbar2 {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .NavMain {
    flex-direction: column;
    justify-items: center;
  }
}
@media screen and (max-width: 900px) {
  .DivSearch {
    justify-items: center;
    width: 90%;
  }
  .Divlogo {
    width: 30%;
  }
  .DivOthers {
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  .DivSearch {
    justify-items: center;
    width: 90%;
  }
  .Divlogo {
    width: 30%;
  }
  .DivOthers {
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
