.shopMain {
  width: 100%;
  margin-bottom: 2%;
}
.toyDisp {
  width: 24%;
  margin-top: 3%;
  border-radius: 5px;
  margin-left: 2%;
  background-color: var(--cartBg);
  padding-bottom: 1%;
}
.cardsDisp {
  display: flex;
  width: 90%;
  margin: auto;
}
.toyimg {
  width: 100%;
}
.toyimg img {
  width: 100%;
  height: 20vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.DispImg img:hover {
  border: 1px solid black;
  border-radius: 5px;
}
.toyDetail {
  width: 100%;
}
.toyDetail h6 {
  margin-top: 1%;
  color: black;
  font-size: 14px !important;
  text-align: center;
}
.toyDetail p {
  color: rgb(34, 32, 32);
  font-size: 1vw;
  text-align: center;
}
.details {
  margin-left: 2%;
}
.addCartbtn {
  text-align: center;
}
.addCartbtn button {
  font-size: 1vw;
  color: white;
  border-radius: 5px;
  padding: 1%;
}
.addbtn {
  width: 40%;
  background-color: var(--btn_add);
  border: 1px solid orangered;
}
.addCartbtn i {
  cursor: pointer;
}
.wishbtn {
  background-color: var(--wishbg);
  border: rgb(212, 161, 67);
}
.fa-heart {
  font-size: 20px;
}
.moveTop {
  float: right;
  margin-right: 0.6%;
  bottom: 0;
  border-radius: 50%;
  padding: 0.6%;
  background-color: rgb(57, 175, 175);
  position: sticky;
  cursor: pointer;
  color: black;
}
.moveTop:hover {
  color: red;
}
@media screen and (max-width: 850px) {
  .cardsDisp {
    width: 90%;
    margin: auto;
    flex-direction: column;
    place-items: center;
  }
}
@media screen and (max-width: 750px) {
  .cardsDisp {
    width: 90%;
    margin: auto;
    flex-direction: column;
    place-items: center;
  }
}
@media screen and (max-width: 850px) {
  .toyDisp {

    flex-direction: column;
    width: 65%;
    place-items: center;
  }
}
@media screen and (max-width: 800px) {
  .toyDisp {

    flex-direction: column;
    width: 65%;
    place-items: center;
  }
}
@media screen and (max-width: 700px) {
  .toyDisp {
    flex-direction: column;
    width: 65%;
    place-items: center;
  }
}
